.btn_eye_icon{
    position: absolute;
    right: 0;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}

.btn_eye_icon:focus{
    outline: none  !important;
}

.error{
    background-color:--ion-color-danger-shade;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
}
.dato{
    font-size: 20px;
}

ion-toolbar > ion-title{
    font-size: 30px;

}