ion-button{
    --background: --ion-color-tertiary-contrast;
  }
  
  ion-content{
    --background: --ion-color-tertiary-tint;
  }
  
  ion-slides{
    margin: 20px 20px 20px 20px;
    height: 100%;
    background-color:#7d7dec;
    max-width: 800px;
  }
  
  .swiper-slide{
    display: block;
    margin-bottom: 40px;
    background-color:var(--slide-color-background);
  }
  
  ion-slide > h1, h2{
    margin: 20px 20px 20px 20px;
    color: var(--slide-border-color);
    border-color: var(--slide-border-color);
    border-style: solid;
  }
  
  ion-slide > h2{
    font-style: oblique;
    font-size: 17px;
  }
  
  ion-slide > p{
    font-style: oblique;
    font-size: 20px;
    color:var(--slide-icon-close-color);
    padding: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
  }
  
  ion-slide > ion-icon{
    color: var(--slide-icon-color);
    font-size: 40px;
  }
  
  ion-slide > ion-icon[name="close"]{
    float: right;
    color: var(--slide-icon-close-color);
    font-size: 40px;
  }