ion-button{
  --background: lightgrey;
}

ion-content{
  --background: #8888e7;
}

ion-slides{
  margin: 10px 10px 10px 10px;
  height: 35%;
  background-color:#7d7dec;
  max-width: 300px;
  border-color: var(--slide-border-color);
  border-style: solid;
}

.swiper-slide{
  display: block;
  margin-bottom: 40px;
  background-color:var(--slide-color-background);
}

ion-slide > h1, h2{
  margin: 10px 10px 10px 10px;
  color: var(--slide-border-color);
  border-color: var(--slide-border-color);

}

ion-slide > h1{
  font-style: oblique;
  font-size: 19px;
}

ion-slide > h2{
  font-style: oblique;
  font-size: 10px;
}

ion-slide > p{
  font-style: oblique;
  font-size: 18px;
  color:var(--slide-icon-close-color);
  padding: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
}

ion-slide > ion-icon{
  color: var(--slide-icon-color);
  font-size: 40px;
}

ion-slide > ion-icon[name="close"]{
  float: right;
  color: var(--slide-icon-close-color);
  font-size: 40px;
}
.ion-list-menu{
  background-color: black;
}

.ion-menu{
  background-color: grey;
}