<ion-content>
  <ion-slides pager="true" [options]="slideOpt">

    <ion-slide>
      <h1>Slide 1</h1>
      <h2>
        Subtitulo
      </h2>
      <ion-icon name="musical-note-outline"></ion-icon>
      <img src="assets/Images/slide1.jpg"/>
      <p>
        PlayerPro Green Version
      </p>
    </ion-slide>

    <ion-slide>
      <h1>Slide 2</h1>
      <h2>
        Subtitulo
      </h2>
      <ion-icon name="musical-note-outline"></ion-icon>
      <img src="assets/Images/slide2.jpg"/>
      <p>
        PlayerPro Red Version
      </p>
    </ion-slide>

    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <h1>Slide 3</h1>
      <h2>
        Subtitulo
      </h2>
      <ion-icon name="musical-note-outline"></ion-icon>
      <img src="assets/Images/slide3.jpg"/>
      <p>
        PlayerPro Blue Version
      </p>
    </ion-slide>

  </ion-slides>
</ion-content>
