<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <ion-item lines="none">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="lastname"></ion-input>
    </ion-item>
  </form>
</ion-content>
