.row-style{
    align-items: center;
    text-align: center;
}

ion-avatar{
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
h1{
    margin-bottom: 0;
    text-align: center;
}
h2{
    margin-top: 0;
    text-align: center;
}
.row-header{
    font-size: 32px;
    font-weight: bold;
}
.success-background{
    padding-top: 10px;
    background-color:--ion-color-light-shade;
    color: var(--ion-color-light);
    padding-bottom: 10px;
    height: 50%;
}
