<ion-header>
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="success-background">
    <ion-avatar (click)="takePhoto()">
      <img [src]="userImage" *ngIf="!photo"/>
      <img [src]="photo" *ngIf="photo"/>
    </ion-avatar>
    <h1>Luis Herrera</h1>
    <h2>luish@aaa.com</h2>
    <ion-grid>
      <ion-row class="aling-items-center text-center row-header">
        <ion-col>24</ion-col>
        <ion-col>15</ion-col>
        <ion-col>5</ion-col>
      </ion-row>
       <ion-row>
        <ion-col>Canciones favoritas</ion-col>
        <ion-col>Seguidores</ion-col>
        <ion-col>Artistas Favoritos</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

